# Definições

In [63]:
algoritmo = 'LLGC'
metrica = 'MacroF1'
dir_results = '/media/rafael/DadosCompartilhados/experimentos/experimentos_marcio/Temp'
path = '/media/rafael/DadosCompartilhados/experimentos/experimentos_marcio/LLGC_MacroF1.xlsx'

# Importações

In [64]:
import pandas as pd
import os

# Funções

In [65]:
def statistics(series): 
    series['Máximo'] = series.max()
    series['Mínimo'] = series.min()
    series['Média'] = series.mean()
    series['Desvio Padrão'] = series.std()
    return series

# Definições

In [66]:
lista_algoritmos = ['GE','CHD','ED','MD','Cov','ITML','LFDA','LMNN','LSMN','NCA','RCA','SDML']
lista_conversao = ['GE','Cov','ITML','LFDA','LMNN','LSMN','NCA','RCA','SDML']

# Leitura (definindo as colunas que serão lidas)

In [67]:
#df = pd.read_excel(path, sheet_name=['GE','CHD','ED','MD','Cov','ITML','LFDA','LMNN','LSMN','NCA','RCA','SDML'])
df = pd.read_excel(path, sheet_name=lista_algoritmos)

# Processamento e geração dos resultados

In [68]:
for key in df.keys(): 
    if key != 'GE': 
        df[key] = df[key][df[key].columns[:-1]]
    else: 
        df[key] = df[key][df[key].columns[:]]
    coluna_base = df[key].columns[0]
    df[key].index = df[key][coluna_base]
    df[key] = df[key].drop(columns=[coluna_base])
    if key in lista_conversao: 
        df[key] = df[key] / 100
    df[key] = df[key].apply(statistics, axis=1)
    df[key].to_csv(os.path.join(dir_results, f'{metrica}_{key}_{algoritmo}.csv'))
    print(key)
print('Done!')

GE
CHD
ED
MD
Cov
ITML
LFDA
LMNN
LSMN
NCA
RCA
SDML
Done!

# Área de Testes

In [62]:
df = pd.read_excel('/media/rafael/DadosCompartilhados/experimentos/experimentos_marcio/LLGC_MicroF1.xlsx', sheet_name=['Cov'])

In [53]:
data = df['Cov'][df['Cov'].columns[1:]]

In [54]:
data = data/100

In [55]:
data

,param1,param2,param3,param4,param5,param6,param7,param8,param9,param10,...,param12,param13,param14,param15,param16,param17,param18,param19,param20,Melhores_Resultados
0,0.684186,0.680233,0.560000,0.720465,0.442326,0.711628,0.585581,0.715814,0.265581,0.579767,...,0.544186,0.530698,0.443023,0.579535,0.575814,0.405116,0.707209,0.571628,0.571628,0.720465
1,0.766222,0.763852,0.953926,0.568000,0.956741,0.563407,0.953926,0.374519,0.951407,0.553333,...,0.762074,0.955704,0.739704,0.951852,0.950667,0.947852,0.567407,0.384296,0.563556,0.956741
2,0.047863,0.047863,0.059829,0.059829,0.047863,0.059829,0.059829,0.047863,0.059829,0.059829,...,0.035897,0.047863,0.059829,0.047863,0.059829,0.059829,0.035897,0.047863,0.047863,0.059829
3,0.113243,0.573649,0.340946,0.237838,0.459189,0.596216,0.474595,0.596757,0.450946,0.590270,...,0.563514,0.576757,0.356351,0.596757,0.229459,0.339730,0.479730,0.575946,0.480135,0.596757
4,0.734694,0.734694,0.734694,0.551020,0.734694,0.918367,0.918367,0.734694,0.551020,0.551020,...,0.734694,0.918367,0.918367,0.918367,0.734694,0.734694,0.551020,0.734694,0.734694,0.918367
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,0.317011,0.341379,0.349195,0.479080,0.461839,0.588966,0.486437,0.334253,0.551954,0.443448,...,0.572414,0.405517,0.547816,0.480920,0.351724,0.333563,0.562759,0.352874,0.469425,0.588966
138,0.597333,0.596000,0.795000,0.597333,0.997333,0.996000,0.798667,0.997333,0.995000,0.998667,...,0.993333,0.796667,0.800000,0.996000,0.996667,0.996667,0.597333,0.995000,0.796000,0.998667
139,0.468811,0.636643,0.724476,0.916084,0.553287,0.906573,0.698741,0.921678,0.907413,0.918881,...,0.525315,0.442797,0.735944,0.740140,0.919441,0.558322,0.736224,0.557483,0.735664,0.921678
140,0.470189,0.609434,0.258868,0.566038,0.243774,0.444528,0.447925,0.441509,0.477358,0.525660,...,0.486038,0.597736,0.304528,0.459623,0.361132,0.486415,0.328302,0.372075,0.561132,0.609434
141,0.266047,0.515349,0.683023,0.404651,0.696977,0.569767,0.550233,0.563256,0.399535,0.571860,...,0.390698,0.616279,0.711395,0.695116,0.579070,0.669767,0.422558,0.696279,0.707674,0.711395